### Match and questionnaire data from speed dating experiment run by Columbia professors Ray Fisman and Sheena Iyengar

https://data.world/annavmontoya/speed-dating-experiment

What influences love at first sight? (Or, at least, love in the first four minutes?) This dataset was compiled by Columbia Business School professors Ray Fisman and Sheena Iyengar for their paper Gender Differences in Mate Selection: Evidence From a Speed Dating Experiment.

Data was gathered from participants in experimental speed dating events from 2002-2004. During the events, the attendees would have a four minute "first date" with every other participant of the opposite sex. At the end of their four minutes, participants were asked if they would like to see their date again. They were also asked to rate their date on six attributes: Attractiveness, Sincerity, Intelligence, Fun, Ambition, and Shared Interests.

The dataset also includes questionnaire data gathered from participants at different points in the process. These fields include: demographics, dating habits, self-perception across key attributes, beliefs on what others find valuable in a mate, and lifestyle information. See the Speed Dating Data Key document below for details.

For more analysis from Iyengar and Fisman, read Racial Preferences in Dating.

In [63]:
dfo = pd.read_csv('Speed Dating Data.csv', encoding='latin-1')
dfo.shape

(8378, 195)

In [75]:
import json
dk = json.load(open('key.json'))
dk = {k: {int(kk): vv for kk, vv in v.items()} for k, v in dk.items()}

In [76]:
c = list(dk.keys())

In [81]:
for k, v in dk.items():
    if len(v) > 0:
        print('mapping {}'.format(k))
        df[k] = dfo[k].map(lambda x: v[x] if not np.isnan(x) else x)
df = df[c]

mapping condtn
mapping race
mapping field_cd
mapping go_out
mapping gender
mapping career_c
mapping date
mapping goal
mapping samerace

In [91]:
for k in ['idg', 'iid', 'round', 'partner', 'position']:
    df[k] = df[k].astype('category')
for k in ['order']:
    df[k] = df[k].astype('float')

In [92]:
for k in df:
    if df[k].dtype.name == 'object':
        df[k] = df[k].astype('category')
    if df[k].dtype.name.startswith('int'):
        print(k, df[k].min(), df[k].max())

match 0 1
dec_o 0 1

In [84]:
df.head(n=1).T

                                              0
dining                                        9
idg                                           1
field                                       Law
pf_o_att                                     35
condtn                           limited choice
movies                                       10
exphappy                                      3
mn_sat                                      NaN
gaming                                        1
iid                                           1
undergra                                    NaN
match                                         0
shopping                                      8
theater                                       1
concerts                                     10
music                                         9
art                                           1
tvsports                                      2
int_corr                                   0.14
yoga                                          1
career                                   lawyer
race      Asian/Pacific Islander/Asian-American
reading                                       6
attr_o                                        6
id                                            1
income                                69,487.00
exercise                                      8
round                                        10
field_cd                                    Law
zipcode                                  60,521
positin1                                    NaN
order                                         4
go_out                     Several times a week
gender                                   Female
hiking                                        5
race_o                                        2
tuition                                     NaN
partner                                       1
career_c                                    NaN
pid                                          11
from                                    Chicago
museums                                       1
position                                      7
date                               Almost never
clubbing                                      5
goal                         To meet new people
imprace                                       2
imprelig                                      4
tv                                            9
samerace                                     no
dec_o                                         0
sports                                        9
age_o                                        27

In [54]:
df.columns.tolist()

['iid',
 'id',
 'gender',
 'idg',
 'condtn',
 'wave',
 'round',
 'position',
 'positin1',
 'order',
 'partner',
 'pid',
 'match',
 'int_corr',
 'samerace',
 'age_o',
 'race_o',
 'pf_o_att',
 'pf_o_sin',
 'pf_o_int',
 'pf_o_fun',
 'pf_o_amb',
 'pf_o_sha',
 'dec_o',
 'attr_o',
 'sinc_o',
 'intel_o',
 'fun_o',
 'amb_o',
 'shar_o',
 'like_o',
 'prob_o',
 'met_o',
 'age',
 'field',
 'field_cd',
 'undergra',
 'mn_sat',
 'tuition',
 'race',
 'imprace',
 'imprelig',
 'from',
 'zipcode',
 'income',
 'goal',
 'date',
 'go_out',
 'career',
 'career_c',
 'sports',
 'tvsports',
 'exercise',
 'dining',
 'museums',
 'art',
 'hiking',
 'gaming',
 'clubbing',
 'reading',
 'tv',
 'theater',
 'movies',
 'concerts',
 'music',
 'shopping',
 'yoga',
 'exphappy',
 'expnum',
 'attr1_1',
 'sinc1_1',
 'intel1_1',
 'fun1_1',
 'amb1_1',
 'shar1_1',
 'attr4_1',
 'sinc4_1',
 'intel4_1',
 'fun4_1',
 'amb4_1',
 'shar4_1',
 'attr2_1',
 'sinc2_1',
 'intel2_1',
 'fun2_1',
 'amb2_1',
 'shar2_1',
 'attr3_1',
 'sinc3_1',
 'fun3_1',
 'intel3_1',
 'amb3_1',
 'attr5_1',
 'sinc5_1',
 'intel5_1',
 'fun5_1',
 'amb5_1',
 'dec',
 'attr',
 'sinc',
 'intel',
 'fun',
 'amb',
 'shar',
 'like',
 'prob',
 'met',
 'match_es',
 'attr1_s',
 'sinc1_s',
 'intel1_s',
 'fun1_s',
 'amb1_s',
 'shar1_s',
 'attr3_s',
 'sinc3_s',
 'intel3_s',
 'fun3_s',
 'amb3_s',
 'satis_2',
 'length',
 'numdat_2',
 'attr7_2',
 'sinc7_2',
 'intel7_2',
 'fun7_2',
 'amb7_2',
 'shar7_2',
 'attr1_2',
 'sinc1_2',
 'intel1_2',
 'fun1_2',
 'amb1_2',
 'shar1_2',
 'attr4_2',
 'sinc4_2',
 'intel4_2',
 'fun4_2',
 'amb4_2',
 'shar4_2',
 'attr2_2',
 'sinc2_2',
 'intel2_2',
 'fun2_2',
 'amb2_2',
 'shar2_2',
 'attr3_2',
 'sinc3_2',
 'intel3_2',
 'fun3_2',
 'amb3_2',
 'attr5_2',
 'sinc5_2',
 'intel5_2',
 'fun5_2',
 'amb5_2',
 'you_call',
 'them_cal',
 'date_3',
 'numdat_3',
 'num_in_3',
 'attr1_3',
 'sinc1_3',
 'intel1_3',
 'fun1_3',
 'amb1_3',
 'shar1_3',
 'attr7_3',
 'sinc7_3',
 'intel7_3',
 'fun7_3',
 'amb7_3',
 'shar7_3',
 'attr4_3',
 'sinc4_3',
 'intel4_3',
 'fun4_3',
 'amb4_3',
 'shar4_3',
 'attr2_3',
 'sinc2_3',
 'intel2_3',
 'fun2_3',
 'amb2_3',
 'shar2_3',
 'attr3_3',
 'sinc3_3',
 'intel3_3',
 'fun3_3',
 'amb3_3',
 'attr5_3',
 'sinc5_3',
 'intel5_3',
 'fun5_3',
 'amb5_3']

In [41]:
df[list(dk.keys())]

      gender  race  date  field_cd  career_c  condtn  samerace  go_out  goal
0          0   4.0   7.0       1.0       NaN       1         0     1.0   2.0
1          0   4.0   7.0       1.0       NaN       1         0     1.0   2.0
2          0   4.0   7.0       1.0       NaN       1         1     1.0   2.0
3          0   4.0   7.0       1.0       NaN       1         0     1.0   2.0
4          0   4.0   7.0       1.0       NaN       1         0     1.0   2.0
5          0   4.0   7.0       1.0       NaN       1         0     1.0   2.0
6          0   4.0   7.0       1.0       NaN       1         0     1.0   2.0
7          0   4.0   7.0       1.0       NaN       1         0     1.0   2.0
8          0   4.0   7.0       1.0       NaN       1         0     1.0   2.0
9          0   4.0   7.0       1.0       NaN       1         0     1.0   2.0
10         0   2.0   5.0       1.0       NaN       1         1     1.0   1.0
11         0   2.0   5.0       1.0       NaN       1         1     1.0   1.0
12         0   2.0   5.0       1.0       NaN       1         0     1.0   1.0
13         0   2.0   5.0       1.0       NaN       1         1     1.0   1.0
14         0   2.0   5.0       1.0       NaN       1         0     1.0   1.0
15         0   2.0   5.0       1.0       NaN       1         1     1.0   1.0
16         0   2.0   5.0       1.0       NaN       1         1     1.0   1.0
17         0   2.0   5.0       1.0       NaN       1         1     1.0   1.0
18         0   2.0   5.0       1.0       NaN       1         1     1.0   1.0
19         0   2.0   5.0       1.0       NaN       1         1     1.0   1.0
20         0   2.0   3.0       2.0       NaN       1         1     1.0   6.0
21         0   2.0   3.0       2.0       NaN       1         1     1.0   6.0
22         0   2.0   3.0       2.0       NaN       1         0     1.0   6.0
23         0   2.0   3.0       2.0       NaN       1         1     1.0   6.0
24         0   2.0   3.0       2.0       NaN       1         0     1.0   6.0
25         0   2.0   3.0       2.0       NaN       1         1     1.0   6.0
26         0   2.0   3.0       2.0       NaN       1         1     1.0   6.0
27         0   2.0   3.0       2.0       NaN       1         1     1.0   6.0
28         0   2.0   3.0       2.0       NaN       1         1     1.0   6.0
29         0   2.0   3.0       2.0       NaN       1         1     1.0   6.0
...      ...   ...   ...       ...       ...     ...       ...     ...   ...
8348       1   1.0   6.0       8.0       7.0       2         0     3.0   1.0
8349       1   1.0   6.0       8.0       7.0       2         0     3.0   1.0
8350       1   1.0   6.0       8.0       7.0       2         0     3.0   1.0
8351       1   1.0   6.0       8.0       7.0       2         0     3.0   1.0
8352       1   1.0   6.0       8.0       7.0       2         0     3.0   1.0
8353       1   1.0   6.0       8.0       7.0       2         0     3.0   1.0
8354       1   1.0   6.0       8.0       7.0       2         0     3.0   1.0
8355       1   1.0   6.0       8.0       7.0       2         0     3.0   1.0
8356       1   2.0   2.0      18.0      15.0       2         0     1.0   1.0
8357       1   2.0   2.0      18.0      15.0       2         0     1.0   1.0
8358       1   2.0   2.0      18.0      15.0       2         0     1.0   1.0
8359       1   2.0   2.0      18.0      15.0       2         1     1.0   1.0
8360       1   2.0   2.0      18.0      15.0       2         1     1.0   1.0
8361       1   2.0   2.0      18.0      15.0       2         1     1.0   1.0
8362       1   2.0   2.0      18.0      15.0       2         1     1.0   1.0
8363       1   2.0   2.0      18.0      15.0       2         0     1.0   1.0
8364       1   2.0   2.0      18.0      15.0       2         0     1.0   1.0
8365       1   2.0   2.0      18.0      15.0       2         1     1.0   1.0
8366       1   2.0   2.0      18.0      15.0       2         1     1.0   1.0
8367       1   2.0   2.0      18.0      15.0       2         0     1.0   1.0
8368       1   2.0   2.0      18.0      15.0       2         1     1.0   1.0
8369       1   2.0   2.0      18.0      15.0       2         1     1.0   1.0
8370       1   2.0   2.0      18.0      15.0       2         0     1.0   1.0
8371       1   2.0   2.0      18.0      15.0       2         0     1.0   1.0
8372       1   2.0   2.0      18.0      15.0       2         1     1.0   1.0
8373       1   2.0   2.0      18.0      15.0       2         0     1.0   1.0
8374       1   2.0   2.0      18.0      15.0       2         0     1.0   1.0
8375       1   2.0   2.0      18.0      15.0       2         0     1.0   1.0
8376       1   2.0   2.0      18.0      15.0       2         0     1.0   1.0
8377       1   2.0   2.0      18.0      15.0       2         0     1.0   1.0

[8378 rows x 9 columns]

In [36]:
df.go_out.dtype.name

'object'

In [18]:
df.dtypes

iid           int64
id          float64
gender        int64
idg           int64
condtn        int64
wave          int64
round         int64
position      int64
positin1    float64
order         int64
partner       int64
pid         float64
match         int64
int_corr    float64
samerace      int64
age_o       float64
race_o      float64
pf_o_att    float64
pf_o_sin    float64
pf_o_int    float64
pf_o_fun    float64
pf_o_amb    float64
pf_o_sha    float64
dec_o         int64
attr_o      float64
sinc_o      float64
intel_o     float64
fun_o       float64
amb_o       float64
shar_o      float64
             ...
amb1_3      float64
shar1_3     float64
attr7_3     float64
sinc7_3     float64
intel7_3    float64
fun7_3      float64
amb7_3      float64
shar7_3     float64
attr4_3     float64
sinc4_3     float64
intel4_3    float64
fun4_3      float64
amb4_3      float64
shar4_3     float64
attr2_3     float64
sinc2_3     float64
intel2_3    float64
fun2_3      float64
amb2_3      float64
shar2_3     float64
attr3_3     float64
sinc3_3     float64
intel3_3    float64
fun3_3      float64
amb3_3      float64
attr5_3     float64
sinc5_3     float64
intel5_3    float64
fun5_3      float64
amb5_3      float64
dtype: object